@import "../../../globalStyles/scss/variables.scss";

.products-featured {
  padding: 2rem 0 4rem;

  h3 {
    text-overflow: ellipsis;
    font-weight: bold;
    margin-bottom: 0.5rem;
    text-transform: uppercase;
    font-size: 16px !important;
    color:#111 !important;
    font-family: "Amazon Ember",Arial,sans-serif;
    font-weight: $bold-font-weight;
  }

  a {
    font-size: 16px !important;
    font-weight: $bold-font-weight;
    color:#111 !important;
    display: inline-block;
    max-width: 255px;
    text-decoration: none;
  }
}
