@import "../../../globalStyles/scss/variables.scss";

.footer {
  &__favicons {

    display: flex;
    justify-content: center;
  }

  &__menu {
    background-color: $gray-light;
    padding: $spacer * 3 0 $spacer * 2;

    .container {
      display: flex;
      flex-wrap: wrap;

      div {
        &:not(:last-of-type) {
          padding-right: $spacer * 3;
        }
      }
    }

    &-section {
      &-header {
        font-weight: $bold-font-weight;
        margin-bottom: $spacer;
        font-family: "Amazon Ember",Arial,sans-serif;
      }

      &-content {
        p {
          font-weight: $bold-font-weight;
          margin-bottom: $spacer;
          font-family: "Amazon Ember",Arial,sans-serif;
          font-size: 13px;
          color: #111;

          a {
            text-decoration: none;
            color: #111;
          }
        }
      }
    }
  }

  &-nav {
    background-color: $gray-light;
    padding: $spacer * 3 0 $spacer * 2;

    .container {
      display: flex;
      flex-wrap: wrap;

      div:not(:last-of-type) {
        padding-right: $spacer * 3;
      }
    }

    &__section {
      &-header {
        font-weight: $bold-font-weight;
        margin-bottom:0.5rem;
        text-transform: uppercase;
        font-family: "Amazon Ember",Arial,sans-serif;
        font-size:15px !important;
      }

      &-content {
        p {
          font-size: 15px;
          font-family: "Amazon Ember",Arial,sans-serif;
          color: $gray;


          a {
            text-decoration: none;
            color: $gray;
          }
        }
      }
    }
  }
}


.tra { margin-top:3px !important;

 margin-bottom:10px !important;   
    display: flex;
    justify-content: center;}


.pay{

  margin-top:7px !important;
  text-align: center !important;
  font-size:13px;
  font-weight:400;
  font-family: "Amazon Ember",Arial,sans-serif;
  color:#111;
}

.juu {
  border-top: 1px solid $gray-light !important;
  margin-bottom: -5px !important;
  padding-top: 12px;
  text-align: center !important;
  font-size:13px;
  font-weight:400;
  font-family: "Amazon Ember",Arial,sans-serif;
  color:#111;
}
